*{padding:0;margin:0;box-sizing:border-box;}
body
{   width:100%;
    height:100vh;
    background:#20002c;
    display:flex;
    justify-content:center;
    align-items:center;    
}
#calculator
{
    width:320px;
    height:520px;
    background:#eaedef;
    border-radius:5px;
    box-shadow:0 0 10px grey;
}
#result
{
    height:120px;
}
#keyboard{
    height:400px;
}
#history
{
    text-align:right;
    height:20px;
    margin:0 20px;
    padding-top:20px;
    color:#919191;
    font-size:15px;
}
#output
{
    text-align: right;
    margin:10px 20px;
    font-size:30px;
    height:60px;
}
#output-value{
    padding-top:10px;
}
.operator, .number, .empty
{
    width:50px;
    height:50px;
    margin:15px;
    border-radius:50%;
    float:left;
    border-width:0;
    font-size:15px;
    font-weight:bold;
}
.number, .empty
{
    background:#eaedef;
}
.number, .operator
{
    cursor:pointer;
}
.operator:active, .number:active{
    font-size:13px;
}
.operator:focus, .number:focus, .empty:focus{
    outline:0;
}
button:nth-child(4)
{
    font-size:20px;
    background:#20b2aa;
}
button:nth-child(8)
{
    font-size:20px;
    background:#ffa500;
}
button:nth-child(12)
{
    font-size:20px;
    background:#f08080;
}
button:nth-child(16)
{
    font-size:20px;
    background:#7d93e0;
}
button:nth-child(20)
{
    font-size:20px;
    background:#9477af;
}